@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    margin: 0;
    min-height: 100%;
    line-height: 1.4;
    font-size: 27px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}
button {
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
}
button:hover {
    opacity: 80%;
    transition: 0.2s ease-in-out;
}
nav {
   box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
   position: sticky;
   margin-bottom: 32px;
   background: white;
   top: 0;
   padding: 10px;
   z-index: 50;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon {
    font-size: 32px;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 2em    ;
}
h1 {
    font-weight: 400;
}
.tag {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    align-self: flex-start;
}
.button {
    background-color: orange;
    border-style: hidden;
    margin: 5px 10px;
    align-self: self-start;
    font-size: 27px;
}
.features {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.feature {
    display: flex;
    font-size:13px;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
}
.divider {
    border: 1px solid #1f1c1c;
    margin: 20px 0;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px 0;
    align-items: center;
}
.menu .tag {
    align-self: center;
}
.grid-image {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}
.grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1 {
    grid-area: I1;
}
.item2 {
    grid-area: I2;
}
.item3 {
    grid-area: I3;
}
.item4 {
    grid-area: I4;
}
.item5 {
    grid-area: I5;
}
.item6 {
    grid-area: I6;
}
.item7 {
    grid-area: I7;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 100px;
}
.link_lists ul{
    list-style: none;
}
.link_lists ul li {
    font-size: 16px;
    margin: 5px;
}
.icon_container {
    display: flex;
    gap:20px;
}
.footer_links {
    display: flex;
   gap: 100px;
}
footer {
    background-color: #1f1c1c;
    color: azure;
}
@media(max-width: 786px) {
    .hero {
        flex-direction: column;
    }
    .hero_image {
        display: flex;
        justify-content: center;
    }
    .hero_image img {
    width: 80%;
    }
    .content {
        gap: 10px;
        padding: 0px 20px;
    }
    .content h1 {
        font-size: 32px;
    }
    .features {
        flex-direction: column;
    }
    .grid {
        padding: 10px;
    }
    .grid-image {
        border-radius: 0;
    }
    .footer_container {
        flex-direction: column;
    }
}




